.hero-container{
    width: 100%;
    height: 92vh;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    text-align: center;
}