
.App-main-container .template-container{
    width: 90%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .App-main-container .template-container section{
    width: 100%;
    
    top: 0px;
    justify-content: center;
    align-items: center;
    text-align: left;
  }