.paperStyle{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background 0.5s;
}

.paperStyle:hover{
    background: palevioletred;
    color: #fff;
}

.paperStyle:active{
    background: rgb(158, 81, 107);
    width: 124px;
    height: 124px;
}

.paperText{
    width: 100%;
    justify-content: center;
    padding: 4px;
    text-align: center;
    color: transparent;
}
.paperText:hover{
    color: #fff;
}