.profile-frame{
    width: 100%;
    height: auto;
    padding-bottom: 20px;

    border-radius: 16px 0 0 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.profile-frame img{
    border-radius: 50%;
    padding: 20px
}

.profile-frame .profile-picture{
    width: 90%;
    display: flex;

    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.profile-frame .profile-name{
    margin:0;
    padding:0;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-self: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.profile-frame .profile-title{
    margin:0;
    padding:0;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-self: center;
    text-align: center;
    font-size: 16px;
}

.profile-frame .profile-box, .profile-frame .secondary-profile-box{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    justify-content: center;
    align-items: center;
    align-content: center;
    gap:4px;
    padding-top: 10px;
}


.profile-box svg, .secondary-profile-box svg{
    margin: 0 auto;
    align-content: center;
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.profile-box svg:hover , .secondary-profile-box svg:hover{
    color: red;
}
.profile-box svg:active , .secondary-profile-box svg:active{
    transform: translateY(2px);
}



section {
    margin: 0 auto;
    margin-top: 20px;
    display: block;


}

.nav-menu{
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    font-family: 'Archivo', sans-serif;
}

.nav-menu ul, .nav-menu ul a{
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-menu .menu-items{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
    display: block;

    align-content: center;
    align-items: center;
}

.menu-items .item{
    margin: 0;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    align-items: center;
    align-content: center;

    width: auto;
    height: 36px;

    background: transparent;

    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;

    transition: 0.4s;
    cursor: pointer;
}

.menu-items .item:hover{
    border-width: 6px;
    border-style:outset;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-color: var(--color-secondary-light);
    
    color:var(--color-secondary-light);
}

.item:active{
    transform: translateY(2px);
}

.down > div{
    margin-top: 34vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    justify-content: center;
    align-items: center;
    align-content: center;
    gap:4px;
    padding-top: 10px;
}